{% if site.location is not null or (site.latitude is not empty and site.longitude is not empty) %}
  <div class="card">
    <div class="card-header">
      Location
    </div>
    <ul class="list-group list-group-flush">
      {% if site.location is not null %}
        <li class="list-group-item">
          <i class="fas fa-map-marker-alt"></i> {{ site.location.region.country.title }}  > {{ site.location.region.title }} > {{ site.location.title }}
        </li>
      {% endif %}
      {% if site.latitude is not empty and site.longitude is not empty %}
        <li class="list-group-item"><i class="fas fa-location-arrow"></i> {{ site.latitude }}, {{ site.longitude }}</li>
      {% endif %}
    </ul>
  </div>
{% endif %}