<div class="site-side card mb-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" id="siteMediaTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pictures-tab" data-toggle="tab" href="#pictures" role="tab" aria-controls="pictures" aria-selected="true">Pictures</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="map-tab" data-toggle="tab" href="#map" role="tab" aria-controls="map" aria-selected="false">Map</a>
      </li>
    </ul>
  </div>
  <div class="tab-content card-body" id="siteMediaTabContent">
    <div class="tab-pane fade show active" id="pictures" role="tabpanel" aria-labelledby="pictures-tab">
      {% if site.images is not empty %}
        <a href="#" class="text-decoration-none" data-toggle="modal" data-target="#modal{{ site.images.first.id }}">
          <img class="img-fluid mb-4" src="{{ vich_uploader_asset(site.images.first, 'imageFile') | imagine_filter('site_full') }}" alt="{{ site.images.first.description }}" >
        </a>
        {% for image in site.images %}
          {% if image != site.images.first %}
            <a href="#" class="text-decoration-none" data-toggle="modal" data-target="#modal{{ image.id }}">
              <img class="img-thumbnail" src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('site_100') }}" alt="{{ image.description }}" >
            </a>
          {% endif %}
          {% include '_shared/img-modal.html.twig' with { 'element': image } %}
        {% endfor %}
      {% endif %}
    </div>
    <div class="tab-pane fade" id="map" data-lat="{{ site.latitude }}" data-lng="{{ site.longitude }}" style="height:400px" role="tabpanel" aria-labelledby="map-tab">
    </div>
  </div>
  <div class="card-footer">
    <ul class="fa-ul">
      {% if site.location is not null %}
        <li><span class="fa-li" ><i class="fas fa-map-marker-alt"></i></span>{{ site.location.region.country.title }} <i class="fas fa-angle-right"></i> {{ site.location.region.title }} <i class="fas fa-angle-right"></i> {{ site.location.title }}</li>
      {% endif %}
      {% if site.latitude is not empty and site.longitude is not empty %}
        <li><span class="fa-li" ><i class="fas fa-location-circle"></i></span>{{ site.latitude}}, {{ site.longitude }}</li>
      {% endif %}
      {% if site.memorialFunctionsKeywords is not empty %}
        <li>
          <span class="fa-li" ><i class="fas fa-landmark"></i></span>
          {% for keyword in site.memorialFunctionsKeywords %}
            {{ keyword.title }}{% if not loop.last %},{% endif %}
          {% endfor %}
        </li>
      {% endif %}
      {% if site.culticPhenomenaKeywords is not empty %}
        <li>
          <span class="fa-li" ><i class="fas fa-sun"></i></span>
          {% for keyword in site.culticPhenomenaKeywords %}
            {{ keyword.title }}{% if not loop.last %},{% endif %}
          {% endfor %}
        </li>
      {% endif %}
    </ul>
    {% if site.author is not null %}
      <hr>
      Author : {{ site.author }}
    {% endif %}
  </div>
</div>