<a href="{{ path('sites_show', {'id': site.id}) }}"
  class="site card mb-3 mix region-{{ site.location.region.id }}"
  data-title="{{ site.title }}"
  data-lon="{{ site.longitude }}"
  data-lat="{{ site.latitude }}">
  {% if site.images is empty %}
    <img class="card-img-top" src="{{ ('/images/void.png') | imagine_filter('site_300') }}" alt="{{ site.title }}" >
  {% else %}
    <img class="card-img-top" src="{{ vich_uploader_asset(site.images.first, 'imageFile') | imagine_filter('site_300') }}" alt="{{ site.title }}" >
  {% endif %}
  <div class="card-body">
    <h5>{{ site.title | markdown | striptags('<i><b><em><strong>') | raw }}</h5>
  </div>
  <div class="card-footer">
    {% if site.location is not null %}
      <i class="fas fa-map-marker-alt"></i> {{ site.location.region.country.title }} <i class="fas fa-angle-right"></i> {{ site.location.region.title }} <i class="fas fa-angle-right"></i> {{ site.location.title }}<br>
    {% endif %}
    {% if site.latitude is not empty and site.longitude is not empty %}
      <i class="fas fa-location-circle"></i> {{ site.latitude}}, {{ site.longitude }}
    {% endif %}
  </div>
</a>