<div class="tab-content card p-4">
  <div class="tab-pane fade show active" id="sources">
    {% include 'sites/_tab-sources.html.twig' %}
  </div>
  <div class="tab-pane fade enable-blockquote" id="history">
    {{ site.history | markdown }}
  </div>
  <div class="tab-pane fade enable-blockquote" id="archaelogicaldata">
    {{ site.archaeologicalData | markdown }}
  </div>
  <div class="tab-pane fade enable-blockquote" id="environmentalcontext">
    {{ site.environmentalContext | markdown }}
  </div>
  <div class="tab-pane fade enable-blockquote" id="memorialfunctions">
    {{ site.memorialFunctions | markdown }}
  </div>
  <div class="tab-pane fade enable-blockquote" id="liturgicalhabits">
    {{ site.liturgicalHabits | markdown }}
  </div>
  <div class="tab-pane fade enable-blockquote" id="culticphenomena">
    {{ site.culticPhenomena | markdown }}
  </div>
  <div class="tab-pane fade enable-blockquote" id="additionaldata">
    {{ site.additionalData | markdown }}
  </div>
  <div class="tab-pane fade" id="historicalsources">
    {% include '_shared/list-group.html.twig' with { 'elements': site.historicalSources, 'title': 'Historical sources'} %}
  </div>
  <div class="tab-pane fade" id="literature">
    {% include '_shared/list-group.html.twig' with { 'elements': site.literatures, 'title': 'Literature'} %}
  </div>
</div>