{% extends 'base.html.twig' %}

{% block title %}Sites{% endblock %}

{% block body %}
    <h1>Sites <small>{{ sites|length }}</small></h1>
    <hr>
    <div class="grid row">
        {% for site in sites %}
            <div class="grid-item col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{{ vich_uploader_asset(site, 'imageFile') }}" alt="{{ site.title }}" >
                    <div class="caption">
                        <h3>{{ site.title }}</h3>
                        <p>{{ site.explanations }}</p>
                        <div class="row">
                            <div class="col-sm-6">
                                <i class="fa fa-location-arrow" aria-hidden="true"></i> <strong>{{ site.latitude }}</strong>, <strong>{{ site.longitude }}</strong>
                            </div>
                            <div class="col-sm-6 text-right">
                                <a href="#" class="btn btn-info">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
    <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
{% endblock %}
