{% extends 'base.html.twig' %}

{% block title %}Sites{% endblock %}

{% block body %}
  <div id="sites">
    <h1>Sites <small>{{ sites|length }}</small></h1>
    <hr>
    <div class="row">
      {% for site in sites %}
        <div class="col-sm-6 col-md-3">
          <a href="{{ path('sites_show', {'id': site.id}) }}">
            <div class="thumbnail">
              {% if true %}
                <img src="{{ ('/images/void.png') | imagine_filter('index_thumb') }}" alt="{{ site.title }}" >
              {% else %}
                <img src="{{ ('/uploads/images/sites/' ~ site.imageName) | imagine_filter('index_thumb') }}" alt="{{ site.title }}" >
              {% endif %}
              <div class="caption">
                <h3>{{ site.title | markdown }}</h3>
                <p>
                  {% for toponym in site.toponyms %}
                    <i class="fa fa-map-marker" aria-hidden="true"></i> {{ toponym.title }}&nbsp;
                  {% endfor %}
                </p>
                <p><i class="fa fa-location-arrow" aria-hidden="true"></i> {{ site.latitude}} , {{ site.longitude }}</p>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
