{% extends 'base.html.twig' %}

{% block title %}{{ site.title }}{% endblock %}

{% block body %}
  <div id="site">
    <div class="row">
      <div class="col-xs-12">
        <ol class="breadcrumb">
          <li><a href="{{ path('sites_index') }}">Sites</a></li>
          <li class="active">{{ site.title }}</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h1>{{ site.title }} <small><i class="fa fa-location-arrow" aria-hidden="true"></i> {{ site.latitude }}, {{ site.longitude }}</small></h1>
      </div>
      <div class="col-xs-12">
        {% if site.toponyms is not empty %}
          <p class="well">
            {% for toponym in site.toponyms %}
              <i class="fa fa-tag" aria-hidden="true"></i> {{ toponym.title }}
            {% endfor %}
          </p>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div id="image" class="col-sm-6">
        <a href="{{ vich_uploader_asset(site, 'imageFile') }}" class="thumbnail image-popup">
          <img src="{{ vich_uploader_asset(site, 'imageFile') }}" alt="{{ site.title }}" >
        </a>
      </div>
      <div class="col-sm-6">
        <div id="gmap" data-lat="{{ site.latitude }}" data-lng="{{ site.longitude }}"></div>
      </div>
    </div>
    <div class="row grid">
      {% include '_element.html.twig' with { 'title': 'Explanations', 'element': site.explanations } %}
      {% include '_element.html.twig' with { 'title': 'History', 'element': site.history } %}
      {% include '_element.html.twig' with { 'title': 'Archaeological data', 'element': site.archaeologicalData } %}
      {% include '_element.html.twig' with { 'title': 'Environmental context', 'element': site.environmentalContext } %}
      {% include '_element.html.twig' with { 'title': 'Memorial functions', 'element': site.memorialFunctions, 'keywords': site.memorialFunctionsKeywords } %}
      {% include '_element.html.twig' with { 'title': 'Liturgical habits', 'element': site.liturgicalHabits } %}
      {% include '_element.html.twig' with { 'title': 'Cultic phenomena', 'element': site.culticPhenomena } %}
      {% include '_element.html.twig' with { 'title': 'Cult objects', 'element': site.cultObjects, 'keywords': site.cultObjectsKeywords } %}
      {% include '_element.html.twig' with {'title': 'Additional data', 'element': site.additionalData } %}
      <div class="col-sm-6 grid-item">
        <h3>Sources</h3>
        <blockquote>
          <p>{{ site.sourcesQuotation }}</p>
        </blockquote>
        <ul class="fa-ul">
          {% for source in site.sources %}
          <li><a href="{{ path('sources_show', {'id': source.id, 'site_id': site.id}) }}"><i class="fa-li fa fa-book"></i>{{ source.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% include '_modal.html.twig' with { 'elements': site.historicalSources, 'title': 'Historical source', 'type': 'historicalSources' } %}
      {% include '_modal.html.twig' with { 'elements': site.literatures, 'title': 'Literature', 'type': 'literatures' } %}
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
  <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHoXNJQewWtqxZs1NUWIOXUOjvUG936RM"></script>
{% endblock %}
