<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %} - Pilgrims</title>

    {% block stylesheets %}
      {% if app.environment == 'prod' %}
        <link rel="stylesheet" href="{{ asset('built/app.css') }}">
      {% else %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
      {% endif %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body class="d-flex flex-column">

    {% include '_navbar.html.twig' with { sites_active: block('sites_active') } %}

    <div id="container-nte" class="container-fluid flex-grow px-md-5">
      {% block body %}{% endblock %}
    </div>

    {% include '_footer.html.twig' %}

    {% block javascripts %}
      {% if app.environment == 'prod' %}
        <script src="{{ asset('built/app.js') }}"></script>
      {% else %}
        <script src="{{ asset('build/app.js') }}"></script>
      {% endif %}
    {% endblock %}
  </body>
</html>
