{% extends 'base.html.twig' %}

{% block title %}{{ source.title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
              <li><a href="{{ path('sites_index') }}">Sites</a></li>
              <li><a href="{{ path('sites_show', {'id': site.id}) }}">{{ site.title }}</a></li>
              <li class="active">{{ source.title }}</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ source.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Editions</h3>
                </div>
                <div class="panel-body">
                    {{ source.editions | markdown }}
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Traveler</h3>
                </div>
                <div class="panel-body">
                    {{ source.traveler }}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Year</h3>
                </div>
                <div class="panel-body">
                    {{ source.year }}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Literature</h3>
                </div>
                <div class="panel-body">
                    {% for modal in source.literatures %}
                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#{{ modal.id }}Modal">
                            <i class="fa fa-book" aria-hidden="true"></i> {{ modal.title }}
                        </button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    {% for modal in source.literatures %}
      <div class="modal fade" id="{{ modal.id }}Modal" tabindex="-1" role="dialog" aria-labelledby="{{ modal.id }}ModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="{{ modal.id }}ModalLabel">{{ modal.title }}</h4>
            </div>
            <div class="modal-body">
              {{ modal.content | markdown }}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
    <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
{% endblock %}
